.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    gap: 30px;
}

.contact a {
    color: white;
    text-decoration: none;
}

.contact article {
    width: 100%;
    max-width: 370px;
    border: 1px solid #555555;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: #111;
    transition: all 0.3s ease;
    cursor: pointer;
}

.contact article:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(76, 175, 80, 0.3);
    border-color: #4caf50;
    color: #4caf50;
    background-color: #1a1a1a;
}

/* 모바일 */
@media (max-width: 767px) {
    .contact {
        grid-template-columns: 1fr;
        margin: 0 30px;
    }

    .contact article {
        font-size: 1rem;
    }

    main {
        height: auto;
    }
}