@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'OngleipParkDahyeon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
/* ♤ ♧ † £ ¢ -> 사용해서 고양이로 사용 가능 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.6;
    font-family: 'Pretendard';
    background-color: black;
    color: white;
    width: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    padding: 50px 0;
    font-size: 1.5em;
    font-weight: bold;
    position: sticky;
    top: 0;
    background-color: black;
    border-bottom: 1px solid #4caf50;
}

main {
    flex: 1;
}

footer {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding: 15px;
}

.navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.navigation a.selected {
    color: #4caf50;
    text-decoration: none;
}

.navigation a:hover {
    color: white;
    text-decoration: underline;
}

.img-wrapper {
    text-align: center;
    padding-top: 50px;
}

.img-wrapper img {
    width: 300px;
    border-radius: 50%;
}

.intro {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.intro #cat {
    font-family: 'OngleipParkDahyeon';
}

/* 모바일 */
@media (max-width: 767px) {
    header {
        height: auto;
        position: static;
    }

    .navigation a {
        width: 50%;
        text-align: center;
    }

    .intro {
        font-size: 1.5rem;
    }

    .img-wrapper img {
        width: 200px;
    }
}